%h1 Edit Product
- product = Product.find(params[:id])
= form_with(model: @product, local: true) do |form|

  -# - if @product.errors.any?
  -#   %error_explanation
  -#     %h2
  -#       - pluralize(@product.errors.count, 'error')
  -#       prohibited
  -#       this article from being saved
  -#       %ul
  -#         - @product.error.full_messages.each do |msg|
  -#           %li= msg

  %p
    = form.label 'Name'
    = form.text_field :name ,value: product[:name]

  %p
    = form.label 'Description'
    = form.text_area :desc, value: product[:desc]

  %p
    = form.label 'Price'
    = form.number_field :price, value: product[:price]

  %p
    = form.label 'Category'
    = form.number_field :category_id, value: product[:category_id]

  %p
    =form.submit

= link_to 'Back', products_path
